# Ignore node_modules
cms-frontend/node_modules/
cms-backend/node_modules/

# Ignore .env files
cms-frontend/.env
cms-backend/.env

# Ignore logs
cms-frontend/logs/
cms-backend/logs/
*.log

# Ignore build and temp directories
cms-frontend/.next/
cms-frontend/out/
cms-backend/dist/
cms-backend/temp/
cms-frontend/.next.zip

# Ignore system files
.DS_Store
Thumbs.db

*.zip
.next/
